@charset "UTF-8";

/* 伪根类 */
:root {
    /* for base  */
    /* 纵层 */
    --zbtm: 0;
    --zmid: 49;
    --ztop: 99;
    /* 透明度 */
    --high-opa: .9;
    --mid-opa: .6;
    --low-opa: .3;
    --bgc: lightblue;
    /* 尺寸 */
    --full-cw: 100%;
    --full-sh: 100vh;
    /* 过渡速度 */
    --fast-tst: .2s;
    --mid-tst: .6s;
    --slow-tst: 1s;
    /* header */
    --h-full-sh: var(--full-sh);
    --h-bgi: radial-gradient(circle at 50% 40%, lightcyan 0, skyblue 50%);
    /* major */
    --m-full-sh: 100vh;
    --m-bgi: linear-gradient(135deg, #7EF 0%, #BBE 100%);
    /* footer */
    --f-lr-width: 20vw;
    --f-height: 1.5vh;
    --f-height-hover: 4vh;
    --f-font-size: 20%;
    --f-font-size-hover: 90%;
    --f-bgc: #368;
    --f-item-bgc: white;
    --f-ltspc: 6px;
    /* for components */
    /* 滚动条 */
    --sb-width: 5px;
    --sb-br: calc(var(--sb-width)/2);
    --sb-c0: white;
    --sb-c1: #999;
    --sb-c2: #666;
    --sb-c3: #333;
    /* 搜索栏 */
    --ib-bgc: var(--f-bgc);
    --ib-item-bgc: var(--f-item-bgc);
    --ib-item-c: black;
    --ib-height: 8vmin;
    --ib-item-width: 10%;
    --ib-item-width-hover: 15%;
    --ib-item-width-focus: 25%;
    --ib-item-margin: 1.5vmin;
    --ib-item-height: calc(var(--ib-height) - var(--ib-item-margin)*2);
    --ib-item-br: calc(var(--ib-item-height)/2);
    --ib-font-size: var(--ib-item-br);
    /* --ib-tst: .2s; */
    --ib-btn-bg-size: 80%;
    --ib-btn-img: url("../assets/search.svg");
    --ib-btn-img-active: url("../assets/search_active.svg");

    /* for pulse */
    --core-r: 25vmin;
    --core-r-hover: 30vmin;
    --core-bgc: #478;
    --core-bgc-hover: #246;
}

body {
    display: block;
    margin: 0;
    padding: 0;
    /* font-family: "方正兰亭超细"; */
    /* -webkit-font-smoothing: antialiased; */
    background-color: var(--bgc);
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

p {
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

#header {
    z-index: var(--zbtm);
    width: var(--full-cw);
    height: var(--h-full-sh);
    background-image: var(--h-bgi);
}


/*中部容器*/

#major {
    /* margin: 0; */
    z-index: var(--zbtm);
    position: relative;
    width: var(--full-cw);
    height: var(--m-full-sh);
    overflow: none;
    /* background: lightblue; */
    background-image: var(--m-bgi);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* opacity: var(--high-opa); */
    /*background-image: url("../res/center.gif");*/
}


/* 底部 */

#footer {
    z-index: var(--ztop);
    position: fixed;
    left: var(--f-lr-width);
    right: var(--f-lr-width);
    bottom: 0;
    /* padding: var(--f-padding); */
    height: var(--f-height);
    overflow: hidden;
    background-color: var(--f-bgc);
    border-radius: var(--f-height) var(--f-height) 0 0;
    font-size: var(--f-font-size);
    /* font-weight: bold; */
    text-align: center;
    text-overflow: ellipsis;
    line-height: var(--f-height-hover);
    color: var(--f-bgc);
    /* cursor: default; */
    /*兼容IE11*/
    opacity: var(--low-opa);
    transition: var(--fast-tst);
}


/*底部过渡*/

#footer:hover {
    height: var(--f-height-hover);
    opacity: var(--high-opa);
    line-height: var(--f-height-hover);
    font-size: var(--f-font-size-hover);
    color: var(--f-item-bgc);
}


@media only screen and (min-width: 800px) {
    #footer {
        letter-spacing: var(--f-ltspc);
    }
}