/* :root见base.css */
/* 滚动条 */
/*重写网页滚动条 仅针对支持webkit协议的浏览器*/

::-webkit-scrollbar {
    width: var(--sb-width);
}

/* 轨道色 */
::-webkit-scrollbar-track {
    background-color: var(--sb-c0);
}

/* 滚动条常规色 */
::-webkit-scrollbar-thumb {
    background-color: var(--sb-c1);
    -webkit-border-radius: var(--sb-br);
    border-radius: var(--sb-br);
}

/* 悬停色 */
::-webkit-scrollbar-thumb:vertical:hover {
    background-color: var(--sb-c2);
}

/* 按压色 */
::-webkit-scrollbar-thumb:vertical:active {
    background-color: var(--sb-c3);
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
    display: none;
}



input,
button {
    border: none;
    outline: none;
}


/* 导航条 */

#indexbar {
    position: sticky;
    top: 0;
    /* left: 0;
    right: 0; */
    z-index: var(--ztop);
    /*
    100vw是相对于屏幕，不排除滚动条
    100%是相对于内容，排除滚动条
    */
    width: var(--full-cw);
    height: var(--ib-height);
    overflow: hidden;
    background-color: var(--ib-bgc);
    opacity: var(--high-opa);
}


/* 导航条链接 */

#indexbar p {
    float: left;
    width: var(--ib-item-width);
    height: var(--ib-item-height);
    margin: var(--ib-item-margin);
    border-radius: var(--ib-item-br);
    font-size: var(--ib-font-size);
    line-height: var(--ib-item-height);
    /* font-weight: bold; */
    background-color: var(--ib-item-bgc);
    color: var(--ib-item-c);
    transition: var(--ib-tst);
}


/* 链接过渡 */

#indexbar p:hover {
    width: var(--ib-item-width-hover);
}


/*搜索框*/

#indexbar input {
    float: right;
    width: var(--ib-item-width);
    height: var(--ib-item-height);
    margin: var(--ib-item-margin);
    padding: 0 var(--ib-item-br);
    border-radius: var(--ib-item-br);
    font-size: var(--ib-font-size);
    color: var(--ib-bgc);
    background-color: var(--ib-item-bgc);
    transition: var(--ib-tst);
}

#indexbar input:focus {
    width: var(--ib-item-width-focus);
}

#indexbar button {
    float: right;
    width: var(--ib-item-height);
    height: var(--ib-item-height);
    margin: var(--ib-item-margin);
    background: none;
    background-repeat: no-repeat;
    background-image: var(--ib-btn-img);
    cursor: pointer;
}

#indexbar button:active {
    background-image: var(--ib-btn-img-active);
}