/* :root见base.css */
/*core as Header*/


#core {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: var(--ztop);
    width: var(--core-r);
    height: var(--core-r);
    line-height: var(--core-r);
    /* margin: 10vh auto; */
    font-size: 5vh;
    text-align: center;
    color: white;
    background-color: var(--core-bgc);
    /* background-image: url("../assets/yu.png"); */
    /* background-size: 200%; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%); */
    cursor: pointer;
    /* transition: var(--fast-tst); */
    transition: width var(--fast-tst), height var(--fast-tst);
}


#core,
.pulse {
    border-radius: 50%;
}


/*黑洞过渡*/

#core:hover {
    background-color: var(--core-bgc-hover);
    /* animation: rotate 5.4s linear infinite; */
}

#core:hover,
#core:hover .pulse {
    width: var(--core-r-hover);
    height: var(--core-r-hover);
    line-height: var(--core-r-hover);
}


/*旋转*/

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/*伪波纹扩散*/

#core:hover .pulse {
    position: absolute;
    box-shadow: 0 0 1vh .5vh var(--core-bgc-hover);
    opacity: 0;
    animation: oneWave calc(2 * var(--slow-tst)) ease-out infinite;
}

@keyframes oneWave {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(1.5);
    }
}