/*重写网页滚动条 仅针对支持webkit协议的浏览器*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #666;
}

::-webkit-scrollbar-thumb:vertical:active {
    background-color: #333;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}